<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 

<body>

<%- include('./partials/nav.ejs') %> 

<%- include('./partials/slides.ejs') %>

<div class="container-indx center-align" style="height: 100%">
  
<div class="container">
<h6 style="padding-bottom: 25px; font-weight: bold;">
<span class="soon teal-text text-darken-2">Your Choice for Local Professional Cleaning Services!</span></h6>
</div>

<div id="panel" class="section scrollspy" style="padding-top: 20px;">
    
    <div class="row left"> 
      <div class="col s12 m4 l6 right">
        <div class="card-panel teal teal-text text-darken-2">
          <span class="white-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text...
          </span>
        </div>
      </div>
    </div>

<div class="row"> 
    <p class="col s12 m6 l4"> 
     Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec. Nullam ut lacus pharetra, sollicitudin erat eu, sagittis odio. Integer dui eros, ullamcorper a felis ut, ultrices consequat felis. Aliquam iaculis sed urna nec feugiat. In ac arcu condimentum, vestibulum dolor eu, feugiat massa. Mauris vitae tristique erat, ac commodo urna. Vivamus ut lorem pellentesque, euismod dui nec, vehicula dolor. 
  </p>
</div>    
    
<div class="row right">
  <div class="col s12 m4 l6 left">
    <div class="card-panel teal teal-text text-darken-2">
      <span class="white-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text...
      </span>
    </div>
  </div>
</div>
    
  <div class="row">
   <p class="col s12 m6 l4 right"> 
     Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec. Nullam ut lacus pharetra, sollicitudin erat eu, sagittis odio. Integer dui eros, ullamcorper a felis ut, ultrices consequat felis. Aliquam iaculis sed urna nec feugiat. In ac arcu condimentum, vestibulum dolor eu, feugiat massa. Mauris vitae tristique erat, ac commodo urna. Vivamus ut lorem pellentesque, euismod dui nec, vehicula dolor. 
  </p>
</div>
  
<div class="row">
  <div class="col s12 m2 offset-m3" id="cerzs">
    <p>Certified Cleaning Service</p>
    <i class="fa-solid fa-check-to-slot fa-3x tooltipped" data-position="left" data-tooltip="I am a tooltip"></i>
    <p>Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec.</p>
  </div>
  <div class="col s12 m2" id="cerzs">
    <p>Sanitization & Disinfection</p>
    <i class="fa-solid fa-hand-sparkles fa-3x tooltipped" data-position="bottom" data-tooltip="I am a tooltip"></i>
    <p>Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec.</p>
  </div>
  <div class="col s12 m2" id="cerzs">
    <p>Responsible Chemical Handling</p>
    <i class="fa-solid fa-pump-medical fa-3x tooltipped" data-position="right" data-tooltip="I am a tooltip"></i>
    <p>Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec.</p>
  </div>
</div>
  
<div class="container center-align" style="margin-top: 45px;">
    <p class="center-align teal-text text-lighten-1" style="margin-top: 35px; font-weight: bold;">We're Waiting To Hear From You</p>
    <button type="submit" class="btn">
     <a class="white-text text-darken-2" href="tel:+1-401-555-1125"><i class="fa-solid fa-phone"></i>&nbsp;Call Us</a>    </button>
    <p class="rateft center-align" style="font-size: 13px; max-width: 300px; font-weight: bold;">Contact us now to schedule a cleaning date, get a quote, or speak to one of our associates. We're looking forward working with you soon. 
    </p>
</div>

 </div>     
</div>

<div style="clear:both; margin-bottom: 225px;"></div>
<%- include('./partials/footer.ejs') %> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

<%- include('./partials/scripts.ejs') %>
</body>
</html>