<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 

<body>

<%- include('./partials/nav.ejs') %> 

<%- include('./partials/slides.ejs') %>

<div class="container-indx center-align">

  <div class="container">
    <h6 style="padding-bottom: 25px; font-weight: bold;">
      <span class="soon teal-text text-darken-2">
        Your Choice for Local Professional Cleaning Services!
      </span>
    </h6>
  </div>

  <div id="panel" class="section scrollspy" style="padding-top: 20px;">

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel teal teal-text text-darken-2">
          <span class="white-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text...
          </span>
        </div>
      </div>
    </div>

    <div class="row center">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <p class="center-align" style="max-width: 600px; margin: 0 auto;">
          Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec. Nullam ut lacus pharetra, sollicitudin erat eu, sagittis odio. Integer dui eros, ullamcorper a felis ut, ultrices consequat felis. Aliquam iaculis sed urna nec feugiat. In ac arcu condimentum, vestibulum dolor eu, feugiat massa. Mauris vitae tristique erat, ac commodo urna. Vivamus ut lorem pellentesque, euismod dui nec, vehicula dolor.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel teal teal-text text-darken-2">
          <span class="white-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text...
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <p class="center-align" style="max-width: 600px; margin: 0 auto;">
          Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet. Aenean tincidunt nulla mauris, ut faucibus odio pretium nec. Nullam ut lacus pharetra, sollicitudin erat eu, sagittis odio. Integer dui eros, ullamcorper a felis ut, ultrices consequat felis. Aliquam iaculis sed urna nec feugiat. In ac arcu condimentum, vestibulum dolor eu, feugiat massa. Mauris vitae tristique erat, ac commodo urna. Vivamus ut lorem pellentesque, euismod dui nec, vehicula dolor.
        </p>
      </div>
    </div>

    <div class="row center-align">
      <div class="col s12 m4">
        <p>Certified Cleaning Service</p>
        <i class="fa-solid fa-check-to-slot fa-2x tooltipped" style="color: #3CB371;" data-position="bottom" data-tooltip="I am a tooltip"></i>
        <p class="narrow-paragraph">Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet.</p>
      </div>
      <div class="col s12 m4">
        <p>Sanitization & Disinfection</p>
        <i class="fa-solid fa-hand-sparkles fa-2x tooltipped" style="color: #3CB371;" data-position="bottom" data-tooltip="I am a tooltip"></i>
        <p class="narrow-paragraph">Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet.</p>
      </div>
      <div class="col s12 m4">
        <p>Responsible Chemical Handling</p>
        <i class="fa-solid fa-pump-medical fa-2x tooltipped" style="color: #3CB371;" data-position="bottom" data-tooltip="I am a tooltip"></i>
        <p class="narrow-paragraph">Pellentesque suscipit nunc in consequat ullamcorper. Integer blandit non dui eget aliquet.</p>
      </div>
    </div>

    <div class="container center-align" style="margin-top: 45px;">
      <p class="center-align teal-text text-lighten-1" style="margin-top: 35px; font-weight: bold;">
        We're Waiting To Hear From You
      </p>
      <a href="tel:+1-401-555-1125" class="btn">
        <i class="fa-solid fa-phone"></i>&nbsp;Call Us
      </a>
      <p class="rateft center-align" style="font-size: 13px; max-width: 300px; margin: 20px auto 0; font-weight: bold;">
        Contact us now to schedule a cleaning date, get a quote, or speak to one of our associates. We're looking forward working with you soon.
      </p>
    </div>

  </div>
</div>

<div></div>

<%- include('./partials/footer.ejs') %> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

<%- include('./partials/scripts.ejs') %>
</body>
</html>